<!-- auth-page.component.html -->
<div class="fondo">
    <div class="contenedor">
        <div class="contenedor-logo">
            <img src="hirolabIcon.jpg" alt="" class="contenedor-logo-img">
            <label class="contenedor-logo-text">Hiro Lab</label>
        </div>
        <ul class="contenedor-form">
            <li>
                <label class="contenedor-titulo">Registrate</label>
            </li>
            <li>
                <label>Nombre</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Apellido Paterno</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Apellido Materno</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Numero De Telefono</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Domicilio</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Puesto</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Area</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Correo Electroonico</label>
                <input type="text" class="contenedor-input">
            </li>
            <li>
                <label>Contraseña</label>
                <input type="text" class="contenedor-input">
            </li>
        </ul>
        <button class="contenedor-boton1">Aceptar</button>
    </div>
</div>