<div class="menu">
    <button class="menu-button buttonLimpio" (click)="resumen()"><img src="iconos/resumen.png"><span
            class="menu-button-texto">Resumen por Areas</span></button>
    <button class="menu-button buttonLimpio" (click)="entradas()"><img src="iconos/ojo.png"><span
            class="menu-button-texto">Ver Todas las Entradas</span></button>
    <button class="menu-button buttonLimpio" (click)="estados()"><img src="iconos/estado.png"><span
            class="menu-button-texto">Estado de los Dispositivos</span></button>
</div>