.menu-button {
    display: flex;
    background: #E1E1E1;
    border-radius: 24px;
    width: 480px;
    height: 216px;
    align-items: center;
    justify-content: space-around;
    /* color: w; */
    font-size: 45px;
    margin: 80px;
}

.menu-button-texto {
    max-width: 346px;
    text-align: left;
    font-weight: bold;
    width: 244px;
}

.menu-button:hover {
    background-color: #828282;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}