<!-- auth-page.component.html -->
<div class="fondo">
    <div class="contenedor">
        <div class="contenedor-logo">
            <img src="hirolabIcon.jpg" alt="" class="contenedor-logo-img">
            <label class="contenedor-logo-text">Hiro Lab</label>
        </div>
        <label class="contenedor-titulo">Te damos la bienvenida a Hiro Lab</label>
        <label>Correo electrónico</label>
        <input type="text" class="contenedor-input">
        <label>Contraseña</label>
        <input type="password" class="contenedor-input">
        <button class="contenedor-boton1">Aceptar</button>
    </div>
</div>