.dispositivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 30px;
    height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabla {
    width: 100%;
    border-spacing: 0;
}

.tabla-encabezado {
    background: #e1e1e1;
    font-size: 30px;
}

.tabla-encabezado-fila {
    display: d;
}

.tabla-cuerpo {
    font-size: 25px;
    font-weight: 500;
}

.gris {
    background: #e1e1e1;
}

.verde {
    background: #3D7C77
}

.ajuste {
    text-align: center;
}

td {
    padding: 10px;
}

.texto-verde {
    color: #2bb700;
    font-weight: 900;
}

.texto-amarillo {
    color: #c7c500;
    font-weight: 900;
}

.texto-rojo {
    color: #c40f00;
    font-weight: 900;
}

.button-prueba {
    display: inline-block;
    border-radius: 85px;
    background: #3d7c77;
}

.button-prueba:hover {
    background-color: #09655d52;
}