<div class="areas">
        <button class="areas-button buttonLimpio" (click)="areaHidraulica()"><img src="iconos/gota.png"><span
                        class="areas-button-texto">Zona Hidraulica</span></button>
        <button class="areas-button buttonLimpio" (click)="areaDecibeles()"><img src="iconos/oreja.png"><span
                        class="areas-button-texto">Monitor de Decibeles</span></button>
        <button class="areas-button buttonLimpio" (click)="areaElectrica()"><img src="iconos/rayo.png"><span
                        class="areas-button-texto">Zona Electrica</span></button>
</div>