<div class="areas">
        <button class="areas-button buttonLimpio" (click)="registrar()"><img src="iconos/gota.png"><span
                        class="areas-button-texto">Hidraulica</span></button>
        <button class="areas-button buttonLimpio" (click)="registrar()"><img src="iconos/oreja.png"><span
                        class="areas-button-texto">Medidor de decibeles</span></button>
        <button class="areas-button buttonLimpio" (click)="registrar()"><img src="iconos/rayo.png"><span
                        class="areas-button-texto">Electrica</span></button>
        <button class="areas-button buttonLimpio" (click)="verAreas()"><img src="iconos/viento.png"><span
                        class="areas-button-texto">Calidad del aire</span></button>
</div>